@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 30px;
  background-color: #000;
  color: #ff5aac;
}

.d-flex {
  display: flex;
}

.wrapper {
  box-shadow: #ff5aac 0 1px 3px, #ff5aac 0 1px 2px;
  padding: 2rem;
  margin: 3rem 0;
}

.refresh {
  float: left;
  margin: 2rem;
  width: 80%;
}

.refresh .header {
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.submit button,
.refresh .header button {
  border: 1px solid #ff5aac;
  outline: none;
  display: block;
  padding: 8px;
  background-color: #000;
  font-size: 20px;
  border-radius: 13px;
  float: right;
  margin: 1rem 0;
  box-shadow: #ff5aac 0 1px 4px, #ff5aac 0 0 0 3px;
  color: #ff5aac;
}

.players-score {
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px, rgb(51, 51, 51) 0 0 0 3px;
}

.players-score ul {
  list-style: none;
}

.players-score ul li {
  padding: 12px;
  text-align: center;
}

.players-score ul li:nth-child(even) {
  background-color: #ff5aac;
  color: #000;
}

.submit {
  margin: 2rem;
  width: 42%;
  float: right;
}

.submit input {
  padding: 8px;
  outline: none;
  border: none;
  background-color: #000;
  border-bottom: 1px solid #ff5aac;
  width: 100%;
  margin: 1rem 0;
  color: #ff5aac;
}

footer {
  width: 100%;
  background-color: gray;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.input-list {
  justify-content: space-between;
}
